* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }
  
  div {
    position: relative;
  }
 
  .fas.fa-bars {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
  
  .menu {
     width: 10rem;
     height: 20rem;
     background: #dcdcdc;
     margin-top: -30px;
     list-style-type: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding: 0;
     transform: translate(-100%, 0);
  }
  
  input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0.5rem;
    left: 2rem;
  }
  
  input:checked ~ .menu {
    transform: none;
    
  }